
/* --------------------------------------------------------------
     BOTTOM INFORMATIVE TEXT
-------------------------------------------------------------- */

.jump_status {
	font-weight: bold;
	font-size: 200%;
}

.jump_pass, .jump_fail {
	padding: 10px 5px 10px 5px;
	text-align: center;
	font-weight: bold;
}

.jump_pass {
	display: none;
}

button {
	font-size: 200%;
}

/* --------------------------------------------------------------
     HEADER
-------------------------------------------------------------- */

.header {
	font-size: 500%;
	text-align: center;
	width: calc(100% - 5px);
	padding: 20px 0 20px 0;
	text-transform: uppercase;
}

/* --------------------------------------------------------------
     TABLE & SUDOKU
-------------------------------------------------------------- */

.cell, td, input, tr, table {
	margin: 0;
	padding: 0;
	border: 0px;
	border-collapse: collapse;
}

td {
	border: 1px solid gray;
}


.sudoku_wrapper {
	text-align: center;
	margin: 30px 0px 30px 0px;
	background-color: #aaa;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
	border: 2px solid black;
	display: inline-block;
}

input {
	height: 50px;
	width: 50px;
	text-align: center;
	font-size: 150%;
}

@media (max-height: 800px) { 
	input {
		height: 40px;
		width: 40px;
	}
}

input:read-only {
	background-color: #eeeeee;
	font-weight: bold;
}

/* --------------------------------------------------------------
     LINES MAKING SQUARES 3X3 INSIDE THE SUDOKU BOARD
-------------------------------------------------------------- */
#cell_13, #cell_23, #cell_33, #cell_43, #cell_53, #cell_63, #cell_73, #cell_83, #cell_93, 
#cell_16, #cell_26, #cell_36, #cell_46, #cell_56, #cell_66, #cell_76, #cell_86, #cell_96
  {
	border-right: 2px solid black;
}

#row_3, #row_6 {
	border-bottom: 2px solid black;
}


/* --------------------------------------------------------------
     OTHER
-------------------------------------------------------------- */
#generating_progress, #destination_unreachable {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
        font-size: 300%;
        text-align: center;
}

#client_identification{
	position: absolute;
        right: 0px;
        bottom: 0px;
        text-align: center;
}
/* --------------------------------------------------------------
     OTHER - DEVEL
-------------------------------------------------------------- */

.list_of_coordinates{
        /* 9*height of the sudoku cell */
        height: 450px;
        /* fixed width */
        width: 300px;

        text-align: left;
        display: inline-block;
	margin: 30px 0px 30px 0px;
}

#list_of_coordinates,
#list_of_details {
        position: relative;
	display: block;
	height: 330px;
	overflow-y: auto;
	
        padding: 5px 0 5px 0;
	box-shadow: 0 -4px 0 1px #002B48, 0 -5px 0 0 #009BF2, 0 4px 0 0 #002B48, 0 5px 0 0 #009BF2;

}
#list_of_coordinates::-webkit-scrollbar {
	background-color: #001A2B ;
	width: 5px;
}
#list_of_coordinates::-webkit-scrollbar-thumb {
	background-color: #009BF2 ;
}

#list_of_details{
	height: 380px;

}

@media (max-height: 800px) { 
	.list_of_coordinates {
		/* 9*height of the sudoku cell on a lesser resolution */
		height: 360px;
	}
	#list_of_coordinates{
        	height: 240px;
	}
	#list_of_details {
        	height: 290px;
	}

}


.list_of_coordinates button {
	/* fixed width */
        width: 270px;

        text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.list_of_coordinates > button {
	margin-top: 15px;
	margin-bottom: 15px;
}


.list_of_coordinates > span {
	font-size: 120%;
	font-weight: bold;
	display: block;
        margin: 5px 0 15px 0;
}


@media (max-width: 1024px) { 
	.list_of_coordinates {
		/* fixed width */
		width: 200px;
	}
	.list_of_coordinates button{
		/* fixed width */
		width: 170px;
	}
.list_of_coordinates > span{
	font-size: 110%;
	}
}

.jump_pass, .jump_fail {
	width: 265px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #002B48;
    margin: 5px 0 5px 0;
    padding: 0; 
}

.body_container{
display: flex;
}

.left_container, .right_container{
width: 30%;
text-align: center;
}

.center_container{
width: 40%;
}

#details_table, 
#details_table tr,
#details_table tr td {
	border: 0px;
}
#details_table tr td:first-child {
	font-weight: bold;
}


